@charset "UTF-8";
/*base style start*/
*{margin:0;padding:0;}
body{background-color:rgba(240,167,177,.8);font-family:sans-serif;}
/*end base style*/
/*页面布局*/
#wrap{width:1020px;height:auto;background-color:rgba(240,167,177,0.5);padding:20px;border-radius:10px;margin:0 auto;overflow: hidden;}
#wrap div{width:100px;height:100px;border:1px solid #1e282c;float: left;cursor: pointer;}
/*要显示/隐藏内容部分*/
.showBox{width:auto;height:auto;position: fixed;top:50%;left:50%;background-color:rgba(0,0,0,.8);padding:10px;border-radius:10px;display: none;}
.showBox img{border-radius:10px;}
.showBox span.x{position:absolute;right:30px;top:30px;display:block;width:40px;height:40px;background-color:rgba(0, 0, 0, .5);text-align: center;line-height:40px;color:#fff;font-size:36px;font-weight:bold;border-radius:50%;cursor: pointer;z-index: 999;}
.showBox span.l, .showBox span.r{position: absolute;top:50%;display:block;width:40px;height:80px;margin-top:-40px;font-size:36px;font-weight:bold;background-color:rgba(0, 0, 0, .5);border-radius:4px;text-align: center;line-height:80px;color:#fff;cursor: pointer;
    z-index: 999;}
.showBox span.l{left:10px;}
.showBox span.r{right:10px;}
.showBox span:hover{background-color:rgba(0,0,0,.8)}